<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/gamenightlook.html :: head">
            </th:block> /*/-->
    </head>
    <body>
        <div th:replace="fragments/gamenightlook.html :: navbar"></div>
        
        <div class="container-fluid w-75 text-center">
            <div class="row justify-content-center p-4">
                <h1>Latest Game Session</h1>
            </div>
            <div class="row justify-content-end">
                <a href="#" th:href="@{/game_session_edit(id=${gameSession.id})}" class="btn btn-dark" role="button">Edit</a>
            </div>
            <div class="row">
                <div class="col mt-2">
                    <h3>Game</h3>
                    <a href="#" th:href="@{/game(id=${gameSession.game.id})}" th:text="${gameSession.game.name}">Game Name</a>
                </div>
                <div class="col mt-2">
                    <h3>Started</h3>
                    <span th:text="${gameSession.startDateTime}">Date and Time</span>
                </div>
                <div class="col mt-2">
                    <h3>Rating</h3>
                    <span th:text="${gameSession.sessionRating}+' / 10'">#</span>
                </div>
            </div>
            <div class="row">
                <div class="col mt-2">
                    <h3>Players</h3>
                    <span th:each="sessionPlayer : ${gameSession.sessionPlayers}" style="display: block">
                        <a href="#" th:href="@{/player(id=${sessionPlayer.player.id})}" th:text="${sessionPlayer.player.name}">List of Players</a>
                    </span>
                </div>
                <div class="col mt-2">
                    <h3>Winners</h3>
                    <span th:each="sessionPlayer : ${gameSession.sessionPlayers}" th:if="${sessionPlayer.winner == true}" th:text="${sessionPlayer.player.name}"></span>
                </div>
            </div>
        </div>
        
        <div th:replace="fragments/gamenightlook.html :: includes"></div>
    </body>
</html>