<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/gamenightlook.html :: head">
            </th:block> /*/-->
    </head>
    <body>
        <div th:replace="fragments/gamenightlook.html :: navbar"></div>
        
        <div class="container-fluid w-75 text-center">
            <div class="col">
                <div class="row justify-content-center p-4">
                    <h1>Games</h1>
                </div>
                <div class="row justify-content-end">
                    <a href="/game_add" class="btn btn-dark" role="button">Add</a>
                </div>
                <div class="row mt-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Game Type</th>
                                <th>Co-op</th>
                                <th>Overall Rating</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="game : ${games}">
                                <td>
                                    <a href="#" th:href="@{/game(id=${game.id})}" th:text="${game.name}">Name</a>
                                </td>
                                <td th:text="${game.gameType}">Game Type</td>
                                <td th:text="${game.coop}">Yes/No</td>
                                <td th:text="${game.overallRating}">#</td>
                                <td>
                                    <a href="#" th:href="@{/game_edit(id=${game.id})}" class="btn btn-success" role="button">Edit</a>
                                    <a href="#" th:href="@{/game_delete(id=${game.id})}" class="btn btn-danger" role="button">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div th:replace="fragments/gamenightlook.html :: includes"></div>
    </body>
</html>